html
{
    height: 90%;
}

body
{
    padding: 0;
    margin: 0;
    height: 100%;
}

a
{
    text-decoration: none;
}

.header-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Rubik;
}

.header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: #26263f;
    color: whitesmoke;
}

.header__home
{
    color: whitesmoke;
    margin-left: 100px;
    transition: all 0.1s ease;
}

.header__home:hover
{
    font-size: max(15px);
    border-bottom: 3px solid whitesmoke;
}

.header__last
{
    color: whitesmoke;
    margin-left: 20px;
    transition: all 0.1s ease;
}

.header__separator
{
    color: whitesmoke;
    margin-left: 20px;
    transition: all 0.1s ease;
}

.header__last:hover
{
    font-size: max(15px);
    border-bottom: 3px solid whitesmoke;
}

.header__name
{
    margin-left: 20px;
}

.logo
{
    margin-left: 60px;
    width: 35px;
    height: 35px;
    border-radius: 6px;
}

.loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 80%;
    background-color: #26263f;
    z-index: 9999;
}

.loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    border: 7px solid #f3f3f3;
    border-top: 7px solid #2848b6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}