{% extends '_layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/index.css"/>
{% endblock %}

{% block content %}
    <div class="body-wrapper">
        <a class="card" href="/masters">Список мастеров</a>
        <a class="card" href="/clients">Список клиентов</a>
    </div>
{% endblock %}
